<ul>
    {% for category in data %}
        <li>
            <a href="{{ path(constant('App\\UI\\Backend\\Routes::BACKEND_BLOG_CATEGORY_SHOW')['name'], {'slug': category.slug}) }}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>
